.logo {
    img {
      max-height: 125px;
      margin: auto;
    }
  
    h1 {
      margin: 3rem auto;
      text-align: center;
    }
  }
  
  .icon {
    img {
      max-width: 70px;
      height: auto;
    }
  }
  